body {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=69750) 25 25, auto;
	background-color: white;
}

button{
    position:absolute;
    top:250px;
    left:250px;
    width: 300px;
    height: 80px;
    color: white;
    background-color: hotpink;
    font-weight: regular;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    font-size: 24px;
}
