body {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=69750) 25 25, auto;
	background-color: #F6FEA0;
}

button{
    position:absolute;
    top:10px;
    left:10px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: hotpink;
    font-weight: bold;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
}
