body {
	background-image: url("null.gif");
	background-color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	font-family: 'Exo 2', sans-serif;
	color:black;
	font-weight: 700;
	text-align: center;
	font-size: 80px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color:black;
	text-align: center;
	font-weight: lighter;
	margin-left: 440px;
	margin-right: 440px;
	line-height: 150%;
	font-size: 16px;
}

a {
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size: 12px;
}

a:hover {
	color:red;

}


.auto            { cursor: auto; }
.default         { cursor: default; }
.none            { cursor: none; }
.context-menu    { cursor: context-menu; }
.help            { cursor: help; }
.pointer         { cursor: pointer; }
.progress        { cursor: progress; }
.wait            { cursor: wait; }
.cell            { cursor: cell; }
.crosshair       { cursor: crosshair; }
.text            { cursor: text; }
.vertical-text   { cursor: vertical-text; }
.alias           { cursor: alias; }
.copy            { cursor: copy; }
.move            { cursor: move; }
.no-drop         { cursor: no-drop; }
.not-allowed     { cursor: not-allowed; }
.all-scroll      { cursor: all-scroll; }
.col-resize      { cursor: col-resize; }
.row-resize      { cursor: row-resize; }
.n-resize        { cursor: n-resize; }
.e-resize        { cursor: e-resize; }
.s-resize        { cursor: s-resize; }
.w-resize        { cursor: w-resize; }
.ns-resize       { cursor: ns-resize; }
.ew-resize       { cursor: ew-resize; }
.ne-resize       { cursor: ne-resize; }
.nw-resize       { cursor: nw-resize; }
.se-resize       { cursor: se-resize; }
.sw-resize       { cursor: sw-resize; }
.nesw-resize     { cursor: nesw-resize; }
.nwse-resize     { cursor: nwse-resize; }

.test1			 {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto;}

.cursors {
  display: flex;
  flex-wrap: wrap;
}
.cursors > div {
  flex: 150px;
  padding: 10px 2px;
  white-space: nowrap;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}
.cursors > div:hover {
  background: #eee;
}

.list {
	margin-left: 200px;
	margin-right: 200px;
}

.space{
	margin-bottom: 50px;
}

#example {
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	margin: auto;
}


h2 {
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	color: black;
	text-align: center;
	padding-top: 100px;
}