
body {
	background-image: url("null.gif");
	background-color: hotpink;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	}
h1 {

	font-family: 'Press Start 2P', cursive;
}

h2{
	

}

a:link, a:visited{
	color: hotpink;
}

a:hover, a:active {

	background-color: hotpink;
	color: white;
}

.main{

	padding-top: 5%;
	padding-bottom: 20px;
	padding-left: 5%;
	display: block;
	margin: auto;
	background-color: white;
}